$black: #110a11;

@mixin textShadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@mixin learnMore {
    padding: .8rem 2.5rem;
    border: 2px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}

@mixin easeOut {
    transition: all 0.3s ease-out;
}


