$white: #f1f0f0;
$blue: #2d2c3c;
$red: #A04848;
$yellow: #DD9E28;
$green: #92a47d;
$font_basic: 'Josefin Sans', sans-serif;
$font_btn: 'Dosis', sans-serif;
$font_thin: 'Work Sans', sans-serif;


@mixin textShadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@mixin boxShadow {
    box-shadow: 1px 2px 18px #000;
}

@mixin learnMore {
    padding: .8rem 2.5rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(20deg, $red 50%, $blue 50%);
    -webkit-background-clip: text;
    position: relative;
}

@mixin easeOut {
    transition: all 0.25s ease-in-out;
}

@keyframes fadeInUp {
    0% { 
        opacity: 0;
        transform: translate3d(0, 70%, 0);
    }
    
    100% {
        opacity: 1;
        transform: tranlate3d(0, 0, 0);
    }
}

.fadeinup {
    animation: 1.5s forwards fadeInUp;
}

