.menu {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 3;
    position: absolute;
    @include easeOut;
    
    &-brand {
        width: 50%;
        height: 100%;
        background-color: #2f2e54;
        padding-top: 2rem;
        
        .brand {
            font-size: 7rem;
            text-align: center;
        }
    }
    
    &-items {
        width: 50%;
        height: 100%;
        background-color: #542e2e;
        font-size: 2.3rem;
    }
}

.menu-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 3;
    @include easeOut;
        
    .btn-line {
        width: 25px;
        height: 2px;
        margin: 0 0 5px 0;
        background-color: #fff;
        border-radius: 50px;
        @include easeOut;
    }
    
    &.close {
        
        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            
            &:nth-child(2) {
                opacity: 0;
            }
            
            &:nth-child(3) {
                transform: rotate(135deg) translate(-5px, 5px);
            }
        }
    }
}