.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    @include easeOut;
    
    &-brand {
        width: 50%;
        height: 100%;
        background-color: $white;
        z-index: 3;
        transform: translate3d(0, -100%, 0);
        font-family: $font_brand;
        opacity: 0.8;
        @include easeOut;
        
        .brand {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            font-size: 5rem;
            font-family: 'Major Mono Display', monospace;
            text-align: center;
            color: $yellow;
        }
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    &-items {
        width: 50%;
        height: 100%;
        background-color: $blue;
        color: $white;
        font-size: 2.3rem;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        
        .menu-item {
            transform: translate3d(600px, 0, 0);
            text-transform: uppercase;
            opacity: 0;
            @include easeOut;
            
            &.show {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
            
            &:hover {
                color: $green;
                border-bottom: 1px solid $green;
            }
        }
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    &.show {
        visibility: visible;
    }
}

@for $x from 1 through 3 {
    .menu-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}

.menu-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 3;
    @include easeOut;
        
    .btn-line {
        width: 27px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: $white;
        border-radius: 30%;
        @include easeOut;
    }
    
    &.close {
        
        .btn-line {
            background-color: $white;
            
            &:nth-child(1) {
                transform: rotate(45deg) translate(7px, 6px)
            }
            
            &:nth-child(2) {
                opacity: 0;
            }
            
            &:nth-child(3) {
                transform: rotate(135deg) translate(-5px, 5px);
            }
        }
    }
}