@import 'config';
@import 'menu';

//general
html, body {
    box-sizing: border-box;
    color: $white;
    width: 100%;
    height: 100%;
    font-family: $font_basic;
}

body {
    display: none;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    &:focus {
        outline: none;
    }
    
    &:active {
        outline: none;
    }
 }
 
a {
    text-decoration: none;
    color: inherit;
    
    &:visited {
        color: inherit;
    }
    
    &:active {
        color: inherit;
    }
    
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

li {
    list-style: none;
}

//index 
.bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(/img/shin_index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index {
    overflow: hidden;
    
    .index-content {
        position: absolute;
        bottom: 0;
        left: calc(50% - 325px);
        margin-bottom: 4rem;
        
        .index-txt {
            font-family: $font_thin;
            text-align: center;
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
        }
        
        .index-btn {
            color: $white;
            margin-top: 4rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            animation-delay: 1s;
            opacity: 0;
            @include learnMore;
            @include easeOut;
            @include boxShadow;
            
            a {
                position: relative;
                z-index: 1;
                font-weight: bold;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(15deg, $blue 50%, $red 50%);
            }
            
            &:hover, &:hover:after {
                background-position: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
        }
        
        .index-btn, .index-btn:after {
            background-size: 300%;
            background-position: 100%;
            transition: 1s;
        }
    }
}