
<script type="text/javascript" src="/vendors/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendors/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>