<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shin Yun Bok</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
<!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:400,700|Rajdhani:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  
  <div class="menu d-flex align-items-center">
      <div class="menu-brand">
          <p class="brand font-weight-bold">Shin</p>
          <p class="brand font-weight-bold">Yun</p>
          <p class="brand font-weight-bold">Bok</p>
      </div>
      <div class="menu-items d-flex flex-column justify-content-center align-items-center">
          <li class="menu-item home">
              <a class="menu-link" href="/life">Home</a>
          </li>
          <li class="menu-item life">
              <a class="menu-link" href="/life">Life</a>
          </li>
          <li class="nav-item art">
              <a class="menu-link" href="/art">Art</a>
          </li>
      </div>
  </div>
    
    
    
    