<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shin Yun Bok</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
<!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:400,700|Rajdhani:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    
    <nav class="navbar justify-content-between">
        <div class="container">
            <li class="navbar-brand">
                <a class="nav-link font-weight-bold" href="/">Shin Yun Bok</a>
            </li>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/life">Life</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/art">Art</a>
                </li>
            </ul>
        </div>
    </nav>
    
    