<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shin Yun Bok</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
<!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:400,700|Rajdhani:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,700|Work+Sans:300,400|Permanent+Marker" rel="stylesheet">

<body>
  
  <!--menu-->
  <div class="menu d-flex align-items-center">
    <div class="menu-brand">
      <div class="brand">
        <p>Shin</p>
        <p>Yun</p>
        <p>Bok</p>
        <h4 class="text-center">(1758 - Unknown)</h4>
      </div>
    </div>
    <div class="menu-items d-flex flex-column justify-content-center align-items-center">
        <li class="menu-item home">
            <a class="menu-link" href="/">Home</a>
        </li>
        <li class="menu-item life">
            <a class="menu-link" href="/life">Life</a>
        </li>
        <li class="menu-item art">
            <a class="menu-link" href="/art">Art</a>
        </li>
    </div>
  </div>
  
  <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>
    
    
    
    