<% include partials/header.ejs %>
  
<div class="index bg">
    <div class="index-content d-flex flex-column justify-content-center align-items-center">
        <div class="index-txt ml3">
            <h2>The Life of</h2>
            <h1 class="index-name">Shin YunBok</h1>
        </div>
        <div class="index-btn fadeinup"><a href="/life">Learn More</a></div>
    </div>
</div>

<% include partials/footer.ejs %>