<% include partials/header.ejs %>
  
<div class="index bg">
    <div class="index-content d-flex flex-column justify-content-center align-items-center">
        <h2>The Life of</h2>
        <h1 class="index-name">Shin Yun-bok</h1>
        <div class="index-btn"><a href="/life">Learn More</a></div>
    </div>
</div>

<% include partials/footer.ejs %>