<% include partials/header.ejs %>

  
<div class="index bg" style="background-image: url(/img/shin_index.jpg)">
    <div class="index-content d-flex flex-column justify-content-center align-items-center">
        <h2>The Life of</h2>
        <h1 class="index-name">Shin Yun-bok</h1>
        <a class="index-btn" href="/life">Learn More</a>
    </div>
</div>

<div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
</div>
    
    

<% include partials/footer.ejs %>