<% include partials/header.ejs %>

<div class="life-content">
    <div class="life-header text-uppercase">
        <h4>Life of Shin yun-bok</h4>
        <p class="font-weight-light">"one of the greatest painters of Josoen Dynasty."</p>
    </div>
    <div class="life-header-sm d-flex justify-content-center">
        <p>Not much is known about his life</p>
    </div>
    <div class="life-description d-flex justify-content-around">
        <img class="life-description-img" src="/img/secret_meeting.jpg">
        <div class="life-description-p">
            <p>He was the son of royal court painter Hanpyeong, who had participated in painting the royal portraits of King Yeongjo and Jeongjo. Hyewon was adept at different styles of painting; genre, landscape, and animals. It is speculated that he left a great number of paintings due to the popularity of genre paintings during that era.
            </p>
            <p>Despite being greatly influenced and overshadowed by Kim Hong-do during his career, developed his own unique technique and artistry. Along with Kim Hong-Do, he is known foremost for his genre paintings of the Joseon era. Whereas Kim depicted everyday life of peasants with a humorous touch, Shin showed glimpses of eroticism in his paintings of townspeople and gisaeng. His choice of characters, composition, and painting method differed from Kim's, with use of bright colors and delicate paint strokes. He also painted scenes of shamanism and townlife, offering insight to lifestyle and costumes of the late Joseon era.
            </p>
        </div>
    </div>
</div>





<% include partials/footer.ejs %>