<% include partials/header.ejs %>

<div class="life">
    <div class="life-title">
        <h1>Bio</h1>
    </div>
    <div class="life-content">
        <p>Not much is known about Shin Yun-bok's life. He was the son of royal court painter Hanpyeong (한평; 漢枰), who had participated in painting the royal portraits of Yeongjo and Jeongjo.[3] Hyewon reached the official rank of cheomjeoljesa (첨절제사; 僉節制使) at the Dohwaseo and was adept at different styles of painting; genre, landscape, and animals.[4] It is speculated that he left a great number of paintings due to the popularity of genre paintings during that era.[5]

            There are different studies and theories regarding his life, that he may not have ever been a member of the Dohwaseo nor was he on close terms with Kim Hong-do.[6]</p>
    </div>
</div>





<% include partials/footer.ejs %>